<head></head>
<body>
    <h1>Error retrieving booster pack.</h1>
    <form asp-controller="BoosterPack" asp-action="RedirectToBooster" method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Return</button>
        </div>
    </form>
</body>
